<section class="bg-white rounded-3 p-3 d-flex flex-column position-relative " style="height: 266px; "  >
<section class="d-flex justify-content-between align-items-start ">
    <div>
        <span class="d-block mb-1 text-black" >إحصائيات إستخدام القسيمة</span >
        <span class="d-block end-100" style="color: var(--secondary-text-color);" >05 يوليو , 2023 - 05 أغسطس , 2023</span >
    </div>
    <div>
        <p-button  icon="pi pi-angle-down" label="سنويا" iconPos="right" /> 
    </div>
</section>

<section class="position-relative w-100"
 style="width: 100%;" 
 >
    <div id="main"> 
    </div>
</section>
</section>
