/* You can add global styles to this file, and also import other style files */
:root{
--main:#8a74f9;
--lighter:#dcd5fd;
--bg-table-header:#E3E4E9;
--table-cell-font-color:#ABAAB1;
--secondary-text-color: #99A1B7;
}

*{
    direction: rtl;
    font-family: 'Neo Sans Arabic','Inter' ;
    font-weight: 400;
    font-size: 14px;



}
    